<div class="container">
  <h1>Devenez membre</h1>

  <p>
    Afin de créer votre compte merci de remplir le formulaire ci-dessous.<br>
    Votre demande sera adressé au gestionnaire de Renov-Fauteuil.
  </p>
  <p>
    Une fois votre demande validée par un administrateur
    vous recevrez un email de confirmation avec un lien pour finaliser votre inscription et définir votre mot de passe.
  </p>

  <%= render 'form', guest: @guest %>

    <p>
    vous pourrez ensuite profitez pleinement de l'ensemble des fonctionnalités du site.
    <ul>
      <li>partagez vos créations</li>
      <li>postez des annonces, répondre à celle des autres membres du club</li>
      <li>accéder à l'annuaire des membres du club</li>
    </ul>
  </p>


</div>
