<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name.capitalize %></h1>
    <p>
      Un administrateurs du site Renov-Fauteuil a décidé de supprimer votre annonce intitulée "<%= @post.title.capitalize %>"</h1>
    </p>
    <p>Votre publication à été supprimer pour l'une des raisons suivantes 
    <ul>
      <li>aucun de lien avec la thématique du site</li>
      <li>présentant un caractère offensant, pornographique </li>
      <li>vocabulaire injurieux</li>
    </ul>
    Cette décision n'affecte en rien vos autres publications ni ne restreint vos possibilités d'utilisation du site  
    </p>

    <p>L'équipe de Renov-Fauteuil vous remercie pour votre compréhension</p>

  
  </body>
</html>