<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %></h1>
    <p>
      L'équipe de ... a créer ton compte
    </p>
    <p>Il te suffit de cliquer sur ce lien, définir ton mot de passe, afon d'activer ton compte et
    profitez de l'ensemble des fonctionnalité du site.</p>

    <p>le lien est : <%= link_to 'ici', @link %></p>

  
  </body>
</html>