<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %></h1>
    <p>
      L'équipe de Rénov-Fauteuil a créer ton compte
    </p>
    <p>Il te suffit de cliquer sur ce lien, définir ton mot de passe, afin d'activer ton compte et
    profitez de l'ensemble des fonctionnalitées du site.</p>

    <p>
      <a href="https://renov-fauteuil.herokuapp.com/users/password/edit?reset_password_token=<%=@raw%>">Validez votre compte</a>
    </p>
  </body>
</html>