<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Francine</h1>
    <p>
      une nouvelle demande
        <ul>
          <li>email : <%= @guest.email %></li>
      </ul>
      </p>
    </p>
  </body>
</html>