<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @guest.first_name %></h1>
    <p>
      Votre demande d'accès membre au site ..... à été refusé par l'administrateur.
      L'accès à ce site est réservé au membre du club ....
    </p>
    <p>
      Le refus de votre demande a pu être motivé pour les raisons suivantes :
      <ul>
        <li>vous ne faites pas partie de ce club</li>
        <li>il s'agit d'une erreur ... </li>
      </ul>
    </p>
    <p>
      => mettre le lien pour s'inscrire
    </p>
  </body>
</html>