  <% @comments = @article.comments %>
  <% @comments.each do |comment| %>
    <% unless !comment.persisted? %>
      <div class="card">
        <div class="card-body">
          <%= comment.body %><br>
          <%= comment.user.full_name %>
        </div>
      </div>
    <% end %>
  <% end %>