  <% @comments = @article.comments %>
  <% @comments.each do |comment| %>
    <% unless !comment.persisted? %>
      <div class="p-3">
          <%= comment.user.full_name %> : <%= comment.body %><br>
          <%=l comment.created_at, :format => ("%d %B %Y") %><br>
          <% if comment.user.id == current_user.id%>
            <%= link_to 'Supprimer mon commentaires', [comment.article, comment], method: :delete, data: { confirm: 'Êtes vous sûr de vouloir supprimer votre commentaire ?' } %>
          <% end %>
      </div>
    <% end %>
  <% end %>