  <% @comments = @article.comments %>
  <% @comments.each do |comment| %>
    <% unless !comment.persisted? %>
      <div class="p-3">
        <div class="p-1">
          <%= comment.user.full_name %> : <%= comment.body %><br>
        </div>
      </div>
    <% end %>
  <% end %>