<div class="card-user-profil">

  <div class="d-flex flex-row">
    <div class="p-2">
      <%= image_tag avatar_for(@user), style: "width: 150px; display: block", class: "rounded-circle" %>
    </div>
    <div class="p-2">
      <div>
        <h3><small> profil de : </small><%= @user.full_name %></h3>
        <span class="">membre depuis le <%= l(@user.created_at, format: :date) %></span><br>
        <%= @user.user_publishing %> 
      </div>
    </div>
  </div>

</div>
