<div class="container main-wrapper">
  <h1>Modifier mon profil</h1>

  <%= render 'form', user: @user %>

  
  <div class="d-flex flex-row-reverse">
    <div class="actions mt-2">
      <%= link_to 'Annuler', @user, class: 'btn btn-secondary mt-2' %>
    </div>
  </div>

</div>
