<div class="container">
  <h1>Enregistrer un nouveau membre</h1>

  <p>
  en tant qu'administrateur vous créer le compte de nouveau membre. Veuillez compléter les champs obligatoire. Une fois valider le nouveau membre sera notifié par email de la création de son espace.
  Un lien l'invitera a créer son mot de passe afin de rendre son compte entièrement opérationnel.
  </p>
  

  <%= render 'createuser', user: @user %>

  <%= link_to 'Back', users_path %>
</div>
