
/*
XS
X-Small	None	<576px

SM
Small	sm	≥576px

MD
Medium	md	≥768px

LG
Large	lg	≥992px

XL
Extra large	xl	≥1200px

XXL
Extra extra large	xxl	≥1400px

*/



/* ----------- EXTRA LARGE > 992px XL ----------- */

@media (min-width: 1200px) {

  .card {
    margin-bottom: 2rem;
    padding: 1rem 1rem 0.2rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 200px;
    overflow: auto;
    max-width: 100%;
  }

} /* ----------------------------------- */


/* ----------- MEDIUM 576 < > 1200 SM & MD & LG ----------- */

@media screen and (min-width: 576px)
  and (max-width: 1200px){

    .card {
      margin-bottom: 2rem;
      padding: 1rem 1rem 0.2rem;
    }

    .card-img-top {
      height: 200px;
      overflow: auto;
      max-width: 100%;
    }

} /* ----------------------------------- */




/* ----------- SMALL < 575px ----------- */

@media (max-width: 576px) {


  .card {
    padding: 1rem ;
    margin-bottom: 1rem;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .card-img-top {
    margin-right: 0.2rem;
    width: 52%;

  }

  .card-text {
    margin-top: 1.2rem;
  }

  
} /* ----------------------------------- */