<footer class="bg-gray-dark">
  <div class="container">

    <p class="m-0">Renov-Fauteuil - club Chevry</p>
    <%= image_tag('renov-fauteuil-logo-cream.png', width: '55', alt: "logo") %>
  </div>
</footer>